# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

*.dev
*.win
*.cab

# Visual Studio files #
*.vcxproj
*.filters
*.user
*.sdf
*.opensdf
*.suo

ipch/
Debug/

# Main file used to test #
testMain.cpp